@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
#slider-boxes{
    display: flex !important;
}
.slick-slide > div {
    margin: 10px;
}
.slick-arrow:before{
    color: #3B5A5F;
    font-size: 30px;
}

::-webkit-scrollbar{
    display: none;
}

@media (max-width:640px){
    a.active{
        background-color: black;
        color: white;
    }
}